#recordStartStop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background-color: #f00;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    z-index: 100;
}